.fuck{
    background-color: violet;
    font-display: block;
    font-style: normal;
    
}
body{
    background-color: yellow;
    background-image: url(../image/这是我这几年的积蓄.jpg);
   

}
p {text-indent: -5em;}
