/* CSS Document */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Arial, Helvetica, sans-serif, "宋体";
    line-height: 20px;
    font-size: 12px;
}

li {
    list-style: none;
}

a img {
    border: 0;
}

a {
    text-decoration: none;
    color: #2b62a5;
}


/*网页主体、底部、顶部的通用样式设计*/

#container,
#footer,
#header {
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
    clear: both;
}

.clear:after {
    content: "";
    display: block;
    clear: both;
}


/* 顶部的设计 */

#header {
    height: 50px;
    background: linear-gradient(to bottom, #d01d3b, #d3617a);
    margin-bottom: 20px;
    border-radius: 8px;
}


/* 顶部右边菜单的设计 */

#menu {
    float: right;
    color: #dbb9b9;
    padding: 15px 30px 0 0;
}

#menu a {
    color: #ffffff;
    padding: 0 5px;
}

#menu a:hover {
    transform: scale(3);
    -webkit-transform: scale(3);
    -moz-transform: scale(3);
    -o-transform: scale(3);
    text-decoration: none;
    font-weight: bold;
}


/* 顶部网页LoGo样式 */

#gameLogo {
    float: left;
    padding-top: 5px;
}


/*  顶部的首页样式 */

.gameIndex {
    background: url(../images/btn-01.gif) 0 0 no-repeat;
    width: 100px;
    height: 40px;
    text-align: center;
    float: left;
    position: relative;
    left: 20px;
    top: 10px;
}

.gameIndex a,
.gameIndex a:hover {
    font-size: 14px;
    color: #cb3333;
    text-decoration: none;
    font-weight: bold;
    line-height: 40px;
}

#footer a {
    padding: 5px;
    clear: both;
    text-align: right;
    color: #666666;
}

.gameLeft {
    /* 向左浮动 */
    float: left;
    /* 宽度为724px */
    width: 724px;
    /* CSS属性 overflow 定义当一个元素的内容太大而无法适应 块级格式化上下文 时候该做什么。 */
    overflow: hidden;
}

.firstLine {
    /* 下边距为20像素点 */
    margin-bottom: 20px;
}

.gameNav {
    /* 浮动向左浮动 */
    float: left;
    /* 边距的样式:大小 \ 颜色 \ 表现形式为固体 */
    border: 1px #cccccc solid;
    /* 边角是否存在锐化的情况 */
    border-radius: 8px;
    /* 如果内容过多了,就是隐藏的状态 */
    overflow: hidden;
    /* 宽度为190px */
    width: 190px;
}

.gameNav li {
    /* 背景颜色设置 */
    background: linear-gradient(to bottom, #ffffff, #f8f8f8, #e8e8e8, #eaeaea, #f1eff0);
    /* 这个li的每一行的高度为30像素点 */
    line-height: 30px;
}

.gameNav li img {
    /* 内边距上下都是0像素点,左边是10像素点,右边是8像素点 */
    padding: 0 10px 0 8px;
    /* 设置行类元素的对齐是居中对齐___ */
    vertical-align: middle;
}

.gameNav li a {
    /* 字体颜色为黑色 */
    color: #000000;
    /* 播放方式为块级元素 */
    display: block;
    /* 这个a元素的宽度 */
    width: 190px;
    /* 这个a元素的高度 */
    height: 27px;
    /* 内边距的上部为2个像素点 */
    padding-top: 2px;
    /* 背景图片 居中并且不重复 图片大小为170px */
    background: url("../img/rightA.png") 170px center no-repeat;
}

.gameNav li:hover {
    /* 字体颜色为白色 */
    color: #fff;
    /* 文本是没有装饰的 */
    text-decoration: none;
    background: linear-gradient(to right, #ed9774, #e98b67, #e17b53, #db683c, #d75e31, #d0501f, #cf4916);
}

.gameAdver {
    /* 向右浮动 */
    float: right;
    /* 隐藏属性，如果超过显示的界面就隐藏起来 */
    overflow: hidden;
    /* 这个的宽度 */
    width: 520px;
    /* 采用相对定位 */
    position: relative;
    /* 上边距的高度为4个像素点 */
    margin-top: 4px;
}

.gameAdver img {
    /* 宽度为当前父级宽度的100% */
    width: 100%;
    /* 四角锐化 */
    border-radius: 8px;
    border: 1px #cf4916 solid;
}

.code {
    /* 采用绝对定位 */
    position: absolute;
    /* 距离下面有10像素点  */
    bottom: 10px;
    /* 距离右边有30像素点  */
    right: 30px;
    float: right;
}

.code li {
    /* 浮动靠左 */
    float: left;
    /* 内边距上下为0像素点 左右为6像素点 */
    padding: 0 6px;
    background: rgba(204, 204, 204, 0.98);
    /* 外边距为4px */
    margin: 4px;
    /* 四角锐化 */
    border-radius: 50%;
}

.code .active {
    background: rgba(184, 26, 21, 0.98);
}

.code .active a {
    color: #fff;
}

.code li a {
    color: #000;
}

.allGame {
    /* 四边的边距为20像素点 */
    padding: 20px;
    /* 下边界 为一个像素点的白色固体 */
    border-bottom: 1px #cccccc solid;
    /* 四边角锐化了 */
    border-radius: 8px;
    /* 宽度为672像素点 */
    width: 672px;
    /* 如果超出盒子范围就设置隐藏模式 */
    overflow: hidden;
}

.allGame li {
    /* 宽度为320像素点 */
    width: 320px;
    /* 高度为130像素点 */
    height: 130px;
    /* 超出盒子范围的东西都隐藏了 */
    overflow: hidden;
    /* 边界 一个像素 白色 固体形状 */
    border: 1px #cccccc solid;
    /* 四边锐角锐化 */
    border-radius: 8px;
    /* 浮动靠左 */
    float: left;
    /* 左外边距为8像素点 */
    margin-left: 8px;
    /* 上下的内边距都是10像素点 左右边距是0像素点 */
    padding: 10px 0;
}

.allGame li .img {
    /* 浮动方式是靠左 */
    float: left;
    /* 宽度为128px */
    width: 128px;
    /* 表示内联边界是永远包含在大盒子里面的 */
    box-sizing: border-box;
    /* margin上为10像素点 下边位0像素点 左边为8像素点 右边为10像素点 */
    margin: 10px 10px 0 8px;
}

.allGame li .img img {
    /* 宽度为100% */
    width: 100%;
}

.allGame li .list {
    /* 浮动向右并且 宽度为174像素点 */
    float: right;
    width: 174px;
}

.allGame p {
    /* 每行的高度为22像素点 */
    line-height: 22px;
}

.allGame span {
    /* 字体颜色为红色 */
    color: #a70a0a;
}

.playBtn {
    /* 外边距顶部为4像素点 */
    margin-top: 4px;
}

.playBtn a {
    /* a元素块的高度 */
    height: 26px;
    /* a元素每行的高度 */
    line-height: 26px;
    /* 还是内联元素 只不过用块级来表示 */
    display: inline-block;
    /* 内边距上下都是0像素点 左右为10像素点 */
    padding: 0 10px;
    /* 边距是一个像素点 固体状态 */
    border: 1px solid #c7c9cf;
    /* 降低锐化四角 */
    border-radius: 4px;
    /* 字体颜色为黑色 */
    color: #333333;
}

.playBtn .active {
    background: linear-gradient(to bottom, #87c9d9, #69b2c8, #5b9dbc, #4a87ac, #3e74a2, #396f9e, #366b9b);
    color: #fff;
    /* 字体是否为加重 */
    font-weight: bold;
    border: 1px solid #326598;
    margin-left: 4px;
}

.role {
    /* 宽度为680像素点 */
    width: 680px;
    overflow: hidden;
    clear: both;
    margin: 15px auto 0;
}

.role li {
    float: left;
    width: 170px;
    text-align: center;
    height: 190px;
    overflow: hidden;
}


/*
.role h1 {
    font-size: 14px;
    line-height: 30px;
    text-align: center;
}

.role h1 a, .role h1 a:hover {
    color: #a70a0a;
}
*/

.role p span {
    color: #a70a0a;
}

.gameBorder {
    border: 1px #cccccc solid;
    border-radius: 8px;
    margin-bottom: 20px;
}

.gameTitle {
    background: linear-gradient(to bottom, #fafafa, #f8f7f9, #f6f7f6, #f5f4f4, #f3f4f3, #f1f2f1, #eeefef);
    border-bottom: 1px solid #e3e3e3;
    height: 30px;
    overflow: hidden;
    border-radius: 8px 8px 0 0;
}

.gameTitle dt {
    font-size: 14px;
    font-weight: bold;
    color: #7d0808;
    padding-left: 10px;
    padding-right: 30px;
    line-height: 28px;
    float: left;
}

.gameTitle dd {
    float: left;
    color: #cccccc;
    padding: 0px 5px;
    line-height: 28px;
}

.gameTitle dd a {
    color: #666666;
    font-size: 14px;
}

.gameRight {
    float: right;
    width: 262px;
    overflow: hidden;
}